#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
#define SSID "your wifi ssid"
#define PASSWORD "your wifi password"

// API configuration
#define API_ENDPOINT "http://your-coco-base-host:3030/uploadAudio"
#define API_KEY "your coco api key"

#endif 